@{
    ViewBag.Title = "SELF RESTAURANT";
}

<div id="carousel">
    <img id="sticker" src="~/Content/img/red-wine-removebg-preview.png" alt="wine" />
    <div id="note">
        <div class="text-right">
            <p class="text-sm">WELCOME</p>
            <h2 class="mt-15 text-large">Prime Beef Steak Restaurant</h2>
        </div>

        <div class="text-right mb-30">
            <div class="mb-30">
                <p>Book a table directly</p>
                <p>(014) 323 68 48</p>
            </div>
            <p>OPENING HOURS: MON - FRI: 09:00 - 21:00 / WEEKEND: 09:00 - 22:00</p>
        </div>
    </div>
</div>

<div id="cooking">
    <div class="box-section">
        <div>
            <b class="text-spacing">OUR STORY</b>
            <h2 class="heading">Cooking Is The Art Of Adjustment</h2>
            <p class="text-justify text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-secondary text-m mt-45"><b>Thomas Eggsy</b> - Master Cheft at AI Restaurant</p>

            <button type="button" class="btn btn-light mt-45 fw-bold">RESERVATION</button>
        </div>

        <div class="ml-40">
            <video src="~/Content/video/barbecue.mp4"></video>
        </div>
    </div>
</div>