<div class="menu-category" style="padding-left: 20px;padding-top: 10px;">
    <ul class="menu">
        <li>
            <a href="" class="custom-link" onclick="return toggleColor(this, 'otherLink')">All</a>
        </li>
        <li>
            <a href="" class="custom-link" onclick="return toggleColor(this, 'otherLink')">Starters</a>
        </li>
        <li>
            <a href="" class="custom-link" onclick="return toggleColor(this, 'otherLink')">Seafood</a>
        </li>
        <li>
            <a href="" class="custom-link" onclick="return toggleColor(this, 'otherLink')">Soups</a>
        </li>
    </ul>
</div>
